[core]
	editor = \"C:\\Users\\alfon\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	email = alfonso.pastorimata@gmail.com
	name = apastori
[pull]
	rebase = true
[push]
	default = simple
[color]
	ui = auto
[init]
	defaultBranch = main
